.container{
    width: 600px;
    height: 500px;
    background-color: aquamarine;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 200px 100px 300px ; */
    /* grid-template-columns: auto auto auto ; */
    /* grid-template-columns: 1fr 2fr 3fr ; */
    /* grid-template-columns: 200px 1fr 2fr ; */
    /* grid-template-columns: 100px 100px auto ; */
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 200px 100px 100px; */
    /* row-gap: 5px;
    column-gap: 5px; */
    /* gap: 5px; */
}
.items{
    background-color: tomato;
    border: 2px solid royalblue;
    margin: 5px;
}
#item1{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-row: 1/2; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    grid-area:1/1/2/3 ;

}
#item4{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2/4; */
    /* grid-column-start: 2;
    grid-column-end: 3; */
    /* grid-column: 2/3; */
    grid-area:2/2/4/3 ;
}
#item8{
    /* grid-row-start: 4;
    grid-row-end: 5; */
    /* grid-row: 4/5; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    grid-area:4/1/5/3 ;
}
#item3{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2/4; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* grid-column: 1/2; */
    grid-area: 2/1/4/2;
}
