body{
    text-align: center;
}
.container{
    width: 500px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center ;
    /* flex-wrap: wrap; */
    /* align-content: center; */
}
.boxes{
    border: 2px solid red;
    height: 70px;
    width: 70px;
    display: inline-block;
    
}
#box3{
    /* padding-top: 20px; */
    /* align-self:flex-end ; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex:1 2 200px ; */
    order:1 ;
}
#box2{
    /* padding-top: 40px; */
    /* align-self: flex-start; */
    /* flex-basis: 200px; */
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
    order: 2;
}
#box4{
    order: 3;
}